@media (max-width: 600px) {
  body{
      overflow: scroll;
  }
  .description {
      display: none;
  }
  .items {
      margin-top: -80px;
      z-index: 9;
      position: relative;
  }
  .item_plot, .item_house, .item_house2, .item_boogaloo, .item_condo, .item_building, .item_mansion {
      width: 50%;
      height: 100px;
      margin-bottom: -12px;
  }
  .items_plus {
      margin-top: 35px;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Home Page */

.bg {

  text-align: center;
}

.HP1 {
  padding: 80px;
  font-family: 'Indie Flower', cursive;
  color: #6b5b95;
  font-size: 80px;
} 

.inputs {
  margin-top: 20px;

}


