.row{
    margin: 0;
}

.namePlayer{
    background-image: url(../images/back_name.png);
    background-size: cover;
    padding: 20px;
    text-align: center;
}

.back_coin{
    height: 100%;
    position: relative;
}

.coin{
	
    background-image: url(../images/back_coin.png);
    background-size: cover;
	width: 100%;
    height: 630px;
    text-align: center;
}
.coin img{margin-top: 20%;}

.general, html, body{
    height: 100%;
    overflow-y: hidden;
}

.level {
    bottom: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    background: #fff;
}

.options, .Stats, .info, .legacy{
    border-bottom: solid 1px #000;
    height: 40px;
    border-right: solid 1px #000;
    padding-left: 20px;
    padding-top: 5px;
    font-weight: bold;
}

.description {
    text-align: center;
    display: flow-root;
    align-self: center;
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
    height: 80px;
}

.description h3{font-size: 20px;}

.item_plot,.item_house, .item_house2, .item_boogaloo, .item_condo, .item_building, .item_mansion {
    width: 100%;
    height: 100px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.item_plot{
    background-image: url(../images/back_plot.jpg);
    background-position: bottom;
}

.item_house{
    background-image: url(../images/house.jpg);
    background-position: bottom;
}

.item_house2{
    background-image: url(../images/bk_house2.png);
    background-position: bottom;
}

.item_boogaloo{
    background-image: url(../images/house.jpg);
    background-position: bottom;
}

.item_condo{
    background-image: url(../images/back_condo.png);
    background-position: bottom;
}

.item_building{
    background-image: url(../images/house.jpg);
    background-position: bottom;
}

.item_mansion{
    background-image: url(../images/back_mansion.png);
    background-position: bottom;
}


.items ul li{
    list-style: none;
    float: left;
    margin-right: 20px;
}

.items_plus ul {
    width: 100%;
    display: contents;
}
.items_plus ul li img {
    width: 100%;
}
.items_plus ul li {
    list-style: none;
    width: 11.1%;
    height: 40px;
    padding: 5px;
    border: solid 1px #000;
    float: left;
}

.sell {
    display: flex;
    width: 100%;
    height: 50px;
    background: #ccc;
    align-items: flex-end;
}

.sell p {
    font-weight: bold;
    margin-left: 16%;
}

.item_house_cont h2 {
    float: right;
    text-align: right;
    font-weight: bold;
    font-size: 45px;
    color: #c1c1c1;
}
.item_house_cont .date_cont h3 {
    margin-bottom: 5px;
    font-weight: bold;
    color: #777;
}
.namePlayer h3 {
    font-weight: bold;
    margin: 0px;
    margin-top: -15px;
    color: #777;
}
.item_house_cont .date_cont img {
    margin: 0px;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
}
.items {
    overflow-y: scroll;
    height: 87%;
}
.item_house_cont .date_cont p{font-weight: bold;}

.item_house_cont .date_cont {
    margin-left: 35px;
    margin-right: 12%;
    width: 35%;
}
.item_house_cont img {
    width: 50px;
    height: 50px;
    margin-left: 25px;
}
.item_house_cont {
    display: inline-flex;
    height: 110px;
    background-image: url(../images/back_name.png);
    width: 100%;
    align-items: center;
    background-size: cover;
}